<div class="parallax-group">
  <pre class="parallax-layer--back wolf-text sm:ml-0 md:ml-4 lg:ml-8 2xl:ml-24 3xl:ml-64 4xl:ml-128 5xl:ml-256" 
  anim="mobile=0;desktop=1;r_span(10,50,'wolf-text-line');mech_space('wolf-text-line')"
  style="font: 28px monospace; line-height:34px; letter-spacing: 200px;">
                                                                          ,,,▄▄▄▄▄
                                                                  ,▄▄▄████▀▀▀▀█▓█
                                                              ,▄▄█▓███▄▄▄▄█▄██▓▓,,▄▄███▓▓▓▓█▄
                                              ,▄█▄▄▄▄▄▄▄████▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓█▀▀▀'  ▄█▓▓▀
                                            ▄██▀▀▀▀▀▀██████▄▄,,▄▄▄█████▓▓▓██▀███████▀,▄▄██▓▓`
                                    ▄▄██▄████▄▄▄▄██▄████▓█████▀▀▀▀▀▀▀▀└,▄█████▀▀▄▄█████▓▓▓▌
                              █▄ ,▄██▀▀▀▀▀▀▀████████████████▒▒▒'▒▒▒▄▄████████████▀▀▀▀▄█▓▓▓
                              █████▒██████████████████████▒▒▒▒▒▐██████████▀█████   ▄█▓▓▓▓█▄
                              ,████▄██████████████████████▄▒▒▒▒█████████▀'▒█▓█`   ▄█▓▓▓██████▄,
                              ██████▀▀▒▒▒▒▒▒▒▒▒███████████████▄████████']██████,▄█▓▓▓▓▌▒  ▀▀███▓█▄▄,
                            ███████████████████▄█▀▀█████████████████▀▒,▐█▌▄████▒▓▓▓█▓▓▓██. '' ▀▀█████▄
                            ▐███████████████████████▒▒▀▀██████████████████▓██▀ ▄▓▓██▄▄▄▄  '',▄▄▄█████▓▓█
                          ╔████ ,   ▄███████████▄▄▄████▄▒███████████▀▀▀▀▀▀▀',█▓▓███████▀▒▒▐███████████▄
                          ▄███████▀▄████▀█▄ ▀▄ ██████████████████████▄███▄╓▄██▓▓█████▄████████████████████▄
                  ▄▄▄▄▄█████████ ▄████████  ƒ▐█▓██████████████████████████▓▓▓▓██████████████████████▓▓▓▓█▓▓█▄
              ,▄▄▄██████▄▄▄▄███████▓█▄▀▀▄█` @ █▌████████████████████████▓▓▓█████████████▒▀█████████████▓█▄▀▀▀█▌
    ▄▄▄▄█████████████████▀██▄██████▀▀███▄█▄▄███▀▀▀▀▀▀█████████████▀█████████▀█████████▌'▒▀████████████████
▄▄██████▀▒▄███████████████"███████████▄▄▄▄▄▄▄█▀  ▐██████████████▀▀▒█████████▒▒▀█████▒▒'▒▒██████████████▓▓▓▓▌
▐████████▄███████████████▀██ ▀`  ,      `▀▀████▄ ▐██████████████▌██████████▀▀▒▒█████████▄▒╙██████████████▌
▀████████████▀▀██]███▄███████████████▄████▄▄▀████████████████████████████▌▐█▒▒██████████████████████▓██▀`
  ▀█████████▄███████████████████████████████████████████████████████████▒▄▄███▒███████████████▓███████▌
    ▀████████████████████████████████████████████████████████  ▀█████████▒██████████▌▒▒▀███████▓▓███████▄
    ▀███████████████████▌ █`▐█▄██████▀█████████████████████`▄▄███████▀█▄▄███████████▒▒████████▓█▓▓██████▄
        ▀▀███▀▀▀   ▄▄▄█▌ █████▌      ▀▀█▄██▄▄▀▀▀█▀▀▀▀██████▄ ▐█████████████████▀██████▒▐███████████████████⌐
          ▀█▄▄▄▄▄▌  ▐▄█▄▄█  ▀          █▄▀███▄▄ ▄▄ ▄▄▄█████████████████████████▒██████▒██████████████▓███▓▌
            ▀▀█▄ ██▄  █▀ ▀▀              █▌███████████████████████████.███████▀▀▒▒▀████▌▐██████████▓███  `▀██
                ▀▀▀▀▀▄▄█                 ▐█▐████████████████████▀   ▀▀▀███████▒▄██▄█████▒██████████████▌
                      ▀                 ▐█▐████████████████▀ ``   ██▄▄███████▒█████▀▒▀▀▒██████████████
                                  ,▄▄▄█████████▀█████████████▄▄█████████  ▀▒,▄█████▒▒▒▒▒▐████████████
                          ▄▄   ▄███▓▓█▀▀`█████▀ █████████████████████▀▀  ▄█▄▄██████▌▒▒▒███████████████
                          █ ▀███▓▓▓█▀ ,▄███▀███▄███████████████████▄ ▄▄▄▄███████████▒▒▒██████████▀███▓▌
                        ▐█████▓▓▓█▀ ,██████▀████████████████████████████████████▒▀▀▒▒▒▒███████████ '▀▀
                        ██▌▀▀████  ██▌███▀▄██████████████████"████████████████▒▒▄▒████████████ ▀██
                      ,██▓█▄   █▄▄█▀▒██▒▄███████▀▀▀█████████▌  ▀██████████`  ,▄╓█████████████▀
                      ▄██▓██████▀▒▒▄██▀▒████▀       ▐██,▄▄ ▄▄    ██████████▌ ▄██████████████▀
                      ████▀███▄███████████▌         ██████████  ,███▌  ▀▀▀▀ ██████████████▀
                      `▀   ▐██████████▀`               ▀██████ ▄████▄█.▄▄  █████████▀ ██▀
                            ▀▀██████▀                     ▐███████████████████████▀▀
                              ▀▀                        ▐█████▀▀▀▀████████████`
                                                          `▀`     ▐█████████▀
                                                                  ▀▀  ▐███
                                                                      `▀
</pre>
</div>