{% set currentPage = page.url %}

<header class="bg-white text-gray-900 z-40 gap-4">
  <div class="container flex justify-evenly items-center py-2 max-w-7xl">

    <a href="/" class="w-56 items-center">
      <span class="leading-none font-normal text-base tracking-wide9 hidden sm:block">
        ALGA<b>WOLF</b>
      </span>
      <span class="transform scale-100 sm:hidden">
        <img src="/assets/wolf.png">
      </span>
    </a>

    <a href="/">
      <span class="transform scale-100 hidden sm:block">
        <img src="/assets/wolf.png">
      </span>
    </a>

    {# Nav Text Links #}
    <aw-header></aw-header>

  </div>
</header>