{% set currentPage = page.url %}

<header
  class="bg-white text-gray-900"
  x-data="{ mobileNav: false }"
>
  <div class="container flex justify-between items-center max-w-7xl">

    {# Logo #}
    <a href="/" class="flex items-center">
      <span class="leading-none font-normal text-lg tracking-wide12 hidden md:block">
        ALGA<span class="font-bold -mr-3">WOLF</span>
      </span>
      <span class="transform scale-66 md:hidden">
        {% include 'assets/wolf.svg' %}
      </span>
    </a>

    <span class="transform scale-66 hidden md:block">
      {% include 'assets/wolf.svg' %}
    </span>

    {# Nav Text Links #}
    <nav class="space-x-4 hidden md:block">
      {% for item in navigation.internal %}
        {% set isCurrentPage = item.link === currentPage %}
        {% set textColor = 'text-white' if isCurrentPage else 'text-primary-black' %}
        <a
          class="text-sm font-semibold transition-colors duration-200 hover:text-secondary-400 {{ textColor }}"
          href="{{ item.link }}"
        >
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>

    {# Nav Icons #}
    {# <nav class="text-primary-900">
      {% for item in navigation.external %}
        <a
          aria-label="{{ item.icon }} profile link"
          href="{{ item.link }}"
          target="_blank"
          rel="noopener"
          class="w-5 h-5 hidden md:block transition-colors duration-200 hover:text-white"
        >
          {% include 'icons/' + item.icon + '.svg' %}
        </a>
      {% endfor %}
    </nav> #}

    <button @click="mobileNav = !mobileNav" class="w-6 h-6 md:hidden">
      <span x-show="!mobileNav">
        {% include 'icons/menu.svg' %}
      </span>
      <span x-show="mobileNav">
        {% include 'icons/close.svg' %}
      </span>
    </button>

  </div>

  <nav class="container md:hidden" x-cloak x-show.transition="mobileNav">
    {% for item in navigation.internal %}
      {% set isCurrentPage = item.link === currentPage %}
      <a
        class="block py-4 font-semibold text-sm tracking-tight text-white"
        href="{{ item.link }}"
      >
        {{ item.name }}
      </a>
      <div class="h-px bg-primary-300" style="opacity: 0.2;"></div>
    {% endfor %}
  </nav>

</header>