<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script defer="defer" src="/assets/main.bundle.js"></script>
  </head>

  <body class="{{ 'debug-screens' if env.dev }}">
    <div class="wrapper">
      {%include 'overlay.njk'%}
      {% include 'header.njk' %}
      <main>
        {% block body %}{% endblock %}
      </main>
      {% include 'footer.njk' %}
    </div>
  </body>
</html>