<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    <link rel="stylesheet" href="/assets/main.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
    </style>
    <script defer="defer" src="/assets/main.js"></script>
  </head>

  <body>
    {# <div id="overlay" class="fixed wh-100 bg-white z-50 pointer-events-none fadeOut-500"></div>
    <div class="wrapper">
      <aw-header></aw-header>
      <main> #}
        {% block body %}{% endblock %}
      {# </main>
    </div>
    <aw-footer></aw-footer> #}
  </body>

</html>