<section>
    <span class="flex items-center flex-wrap justify-center mod-drop-shadow m-auto max-w-5xl fadeIn-1000">
        <div class="px-16 py-4">
            {% include 'assets/PolyVolt.svg' %}
        </div>
        <div class="px-16 py-4">
            {% include 'assets/StrumBlue.svg' %}
        </div>
        <div class="px-16 py-4">
            {% include 'assets/ADSR.svg' %}
        </div>
        <div class="px-16 py-4">
            {% include 'assets/Orbit.svg' %}
        </div>
    </span>
</section>