<section>
    <div class="flex-col-centered drop-shadow fadeIn-1000 mx-32 gap-y-12">
        {% for mod in vcvModules %}
            <div class="flex-row space-y-12 items-start w-60">
                <div>
                    <img class="mx-auto" src="{{mod.src}}">
                </div>
                <div class="text-sm my-2">
                    <div class="my-2">
                        <span class="bg-black py-0_5 px-4 text-white tracking-wide8">{{ mod.title }}</span>
                    </div>
                    {# {% for feature in mod.features %}
                        <div class="my-2">
                            <span class="bg-white py-0_5 px-4">{{ feature }}</span>
                        </div>
                    {% endfor %} #}
                </div>
            </div>
        {% endfor %}
    </section>