<section>
    <span class="flex items-center flex-wrap justify-center mod-drop-shadow m-auto max-w-7xl fadeIn-1000">
        <div class="flex-row px-16 py-4 space-y-8">
            <div class="m-auto">
                {# {% include 'assets/PolyVolt.svg' %} #}
                <img src="assets/PolyVolt.png" class="m-auto">
            </div>
            <div class="m-auto text-center tracking-wide8 text-sm text-white">
                <span class="bg-black px-2">Polyvolt</span>
            </div>
        </div>
        <div class="flex-row px-16 py-4 space-y-8">
            <div class="m-auto">
                {# {% include 'assets/StrumBlue.svg' %} #}
                <img src="assets/StrumBlue.png" class="m-auto">
            </div>
            <div class="m-auto text-center tracking-wide8 text-sm text-white">
                <span class="bg-black px-2">Strum</span>
            </div>
        </div>
        <div class="flex-row px-16 py-4 space-y-8">
            <div class="m-auto">
                {# {% include 'assets/ADSR.svg' %} #}
                <img src="assets/ADSR.png" class="m-auto">
            </div>
            <div class="m-auto text-center tracking-wide8 text-sm text-white">
                <span class="bg-black px-2">ADSR</span>
            </div>
        </div>
        <div class="flex-row px-16 py-4 space-y-8">
            <div class="m-auto">
                {# {% include 'assets/Orbit.svg' %} #}
                <img src="assets/Orbit.png" class="m-auto">
            </div>
            <div class="m-auto text-center tracking-wide8 text-sm text-white">
                <span class="bg-black px-2">Orbit</span>
            </div>
        </div>
    </span>
</section>