<pre id="wolfText" class="wolf-text">

                                                                                    ,,,▄▄▄▄▄
                                                                            ,▄▄▄████▀▀▀▀█▓█
                                                                        ,▄▄█▓███▄▄▄▄█▄██▓▓,,▄▄███▓▓▓▓█▄
                                                        ,▄█▄▄▄▄▄▄▄████▓▓▓▓▓▓▓▓█▓▓▓▓▓▓▓▓▓▓▓▓▓█▀▀▀'  ▄█▓▓▀
                                                      ▄██▀▀▀▀▀▀██████▄▄,,▄▄▄█████▓▓▓██▀███████▀,▄▄██▓▓`
                                              ▄▄██▄████▄▄▄▄██▄████▓█████▀▀▀▀▀▀▀▀└,▄█████▀▀▄▄█████▓▓▓▌
                                        █▄ ,▄██▀▀▀▀▀▀▀████████████████▒▒▒'▒▒▒▄▄████████████▀▀▀▀▄█▓▓▓
                                        █████▒██████████████████████▒▒▒▒▒▐██████████▀█████   ▄█▓▓▓▓█▄
                                        ,████▄██████████████████████▄▒▒▒▒█████████▀'▒█▓█`   ▄█▓▓▓██████▄,
                                        ██████▀▀▒▒▒▒▒▒▒▒▒███████████████▄████████']██████,▄█▓▓▓▓▌▒  ▀▀███▓█▄▄,
                                      ███████████████████▄█▀▀█████████████████▀▒,▐█▌▄████▒▓▓▓█▓▓▓██. '' ▀▀█████▄
                                      ▐███████████████████████▒▒▀▀██████████████████▓██▀ ▄▓▓██▄▄▄▄  '',▄▄▄█████▓▓█
                                    ╔████ ,   ▄███████████▄▄▄████▄▒███████████▀▀▀▀▀▀▀',█▓▓███████▀▒▒▐███████████▄
                                    ▄███████▀▄████▀█▄ ▀▄ ██████████████████████▄███▄╓▄██▓▓█████▄████████████████████▄
                            ▄▄▄▄▄█████████ ▄████████  ƒ▐█▓██████████████████████████▓▓▓▓██████████████████████▓▓▓▓█▓▓█▄
                        ,▄▄▄██████▄▄▄▄███████▓█▄▀▀▄█` @ █▌████████████████████████▓▓▓█████████████▒▀█████████████▓█▄▀▀▀█▌
              ▄▄▄▄█████████████████▀██▄██████▀▀███▄█▄▄███▀▀▀▀▀▀█████████████▀█████████▀█████████▌'▒▀████████████████
          ▄▄██████▀▒▄███████████████"███████████▄▄▄▄▄▄▄█▀  ▐██████████████▀▀▒█████████▒▒▀█████▒▒'▒▒██████████████▓▓▓▓▌
          ▐████████▄███████████████▀██ ▀`  ,      `▀▀████▄ ▐██████████████▌██████████▀▀▒▒█████████▄▒╙██████████████▌
          ▀████████████▀▀██]███▄███████████████▄████▄▄▀████████████████████████████▌▐█▒▒██████████████████████▓██▀`
            ▀█████████▄███████████████████████████████████████████████████████████▒▄▄███▒███████████████▓███████▌
              ▀████████████████████████████████████████████████████████  ▀█████████▒██████████▌▒▒▀███████▓▓███████▄
              ▀███████████████████▌ █`▐█▄██████▀█████████████████████`▄▄███████▀█▄▄███████████▒▒████████▓█▓▓██████▄
                  ▀▀███▀▀▀   ▄▄▄█▌ █████▌      ▀▀█▄██▄▄▀▀▀█▀▀▀▀██████▄ ▐█████████████████▀██████▒▐███████████████████⌐
                    ▀█▄▄▄▄▄▌  ▐▄█▄▄█  ▀          █▄▀███▄▄ ▄▄ ▄▄▄█████████████████████████▒██████▒██████████████▓███▓▌
                      ▀▀█▄ ██▄  █▀ ▀▀              █▌███████████████████████████.███████▀▀▒▒▀████▌▐██████████▓███  `▀██
                          ▀▀▀▀▀▄▄█                 ▐█▐████████████████████▀   ▀▀▀███████▒▄██▄█████▒██████████████▌
                                ▀                 ▐█▐████████████████▀ ``   ██▄▄███████▒█████▀▒▀▀▒██████████████
                                            ,▄▄▄█████████▀█████████████▄▄█████████  ▀▒,▄█████▒▒▒▒▒▐████████████
                                    ▄▄   ▄███▓▓█▀▀`█████▀ █████████████████████▀▀  ▄█▄▄██████▌▒▒▒███████████████
                                    █ ▀███▓▓▓█▀ ,▄███▀███▄███████████████████▄ ▄▄▄▄███████████▒▒▒██████████▀███▓▌
                                  ▐█████▓▓▓█▀ ,██████▀████████████████████████████████████▒▀▀▒▒▒▒███████████ '▀▀
                                  ██▌▀▀████  ██▌███▀▄██████████████████"████████████████▒▒▄▒████████████ ▀██
                                ,██▓█▄   █▄▄█▀▒██▒▄███████▀▀▀█████████▌  ▀██████████`  ,▄╓█████████████▀
                                ▄██▓██████▀▒▒▄██▀▒████▀       ▐██,▄▄ ▄▄    ██████████▌ ▄██████████████▀
                                ████▀███▄███████████▌         ██████████  ,███▌  ▀▀▀▀ ██████████████▀
                                `▀   ▐██████████▀`               ▀██████ ▄████▄█.▄▄  █████████▀ ██▀
                                      ▀▀██████▀                     ▐███████████████████████▀▀
                                        ▀▀                        ▐█████▀▀▀▀████████████`
                                                                    `▀`     ▐█████████▀
                                                                            ▀▀  ▐███
                                                                                `▀
                                                                               </pre>
<script>
  var wolfText = document.getElementById("wolfText");
  console.log(wolfText);
  var lines = wolfText
    .textContent
    .match(/[^\r\n]+/g);
  var inner = "";
  lines.forEach((ln, ind) => {
    inner += '<div class="wolf-text-line">' + ln + '</div>';
  });
  wolfText.innerHTML = inner;
</script>