// blend modes
.mix-diff {
  mix-blend-mode: difference;
}

// filters
.gray-10 {
  filter: grayscale(10%);
}
.gray-16 {
  filter: grayscale(16%);
}
.gray-20 {
  filter: grayscale(20%);
}
.gray-33 {
  filter: grayscale(33%);
}
.gray-50 {
  filter: grayscale(50%);
}
.gray-66 {
  filter: grayscale(66%);
}
.gray-90 {
  filter: grayscale(90%);
}
.gray-100 {
  filter: grayscale(100%);
}

.contrast-100 {
  filter: contrast(100%);
}
.contrast-110 {
  filter: contrast(110%);
}
.contrast-116 {
  filter: contrast(116%);
}
.contrast-120 {
  filter: contrast(120%);
}
.contrast-133 {
  filter: contrast(133%);
}
.contrast-150 {
  filter: contrast(150%);
}
.contrast-166 {
  filter: contrast(166%);
}
.contrast-190 {
  filter: contrast(190%);
}
.contrast-200 {
  filter: contrast(200%);
}