// Triad:
$aw-dark: rgb(0, 0, 0);
$aw-light: #fefefe;
$aw-light-gray: #bcbcbc;
$aw-dark-gray:rgb(30, 30, 30);

$aw-red: #FF322C;
$aw-orange: #ff380d;
$aw-yellow: #ffea19;

$aw-blue: #0082f2;
$aw-cyan: #22E6EF;
// inverted hot pink
$aw-green: #00ff9f;

