{% set title = 'Contact Me' %}
{% set description = "Contact Matt Waler for development, instruction, or consultation for the web." %}
<div class="flex justify-center">
  <div class="container grid items-center gap-24 sections-spacing max-w-7xl fixed z-50">
    <form
      name="contact"
      method="post"
      aria-label="contact form"
      action="/?contact"
      class="bg-white px-12 sm:px-16 md:px-20 lg:px-32 py-12"
    >
      <input type="hidden" name="form-name" value="contact">
      <label class="block pt-8">
        <p class="font-bold">Name:</p>
        <input name="name" type="text" required class="mt-2 input w-full">
      </label>
      <label class="block pt-8">
        <p class="font-bold">Email:</p>
        <input name="email" type="email" required class="mt-2 input w-full">
      </label>
      <label class="block pt-8">
        <p class="font-bold">Message:</p>
        <textarea name="message" rows="7" required class="mt-2 input w-full"></textarea>
      </label>
      <div class="block pt-8">
        <button type="submit" class="button ml-auto">Submit</button>
      </div>
    </form>
  </div>
</div>