{% extends "page.njk" %}

{% set title = "Algawolf" %}
{% set description = "VCV Rack modules." %}

{% block body %}

  <script>
    function contactSubmit() {
      return {
        didSubmit: false,
        init() {
          if (window.location.search.includes('contact')) {
            setTimeout(() => {
              this.didSubmit = true
            }, 500)
            setTimeout(() => {
              this.didSubmit = false
            }, 4000)
          }
        }
      }
    }
  </script>

  {% include "ascii-wolf.njk" %}

  {# <section x-data="contactSubmit()" z x-init="init()" x-cloak x-show.transition="didSubmit"
  class="fixed top-0 right-0 m-8 bg-white px-5 py-4 shadow-lg z-50 w-96">
  <div class="flex items-center">
    <span class="flex-none w-16 text-green-600">
      {% include 'icons/check.svg' %}
    </span>
    <div class="ml-4">
      <p class="font-extrabold leading-none text-xl">Contact Success!</p>
      <p class="mt-2 text-sm">Thank you for reaching out.<br>I will be in touch.</p>
    </div>
  </div>
</section> #}
  <simple-greeting name="World"></simple-greeting>
  <div class="text-center py-11 px-6">
    <h1>
      VCV Rack Modules
    </h1>
    <p class="text-gray-700 my-2 mx-auto text-sm tracking-wide3">Lean & Mean</p>
    {# <p class="text-gray-700 mt-2 m-auto text-sm tracking-wide3">Polyphonic IO & CV | Guided Randomness | Optimized</p> #}
  </div>

  <section>
    <vcv-modules></vcv-modules>
  </section>

  <section class="relative section-spacing">
    <div class="container text-center">
      <div class="mt-12 grid gap-12 sm:gap-16 sm:mt-24 sm:grid-cols-3 lg:gap-24">
        {% for skill in skills %}
          <div class="flex flex-col">
            <span class="w-8 h-8 md:w-16 md:h-16 mx-auto animate-grow {{ skill.color }}">
              {% include 'icons/' + skill.icon + '.svg' %}
            </span>
            <h2 class="mt-4 font-extrabold leading-none text-xl md:mt-6 md:text-2xl">{{ skill.name }}</h2>
            <p class="mt-2 md:mt-3 text-gray-600">
              {{ skill.description }}
            </p>
            <span class="h-4"></span>
            <a class="mt-auto flex justify-center items-center font-extrabold {{ skill.color }}" href="{{ skill.link }}">
              {{ skill.linkText }}
              <span class="ml-1 w-4 h-4">
                {% include 'icons/arrow.svg' %}
              </span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include 'contact-cta.njk' %}

{% endblock %}