{% extends "page.njk" %}

{% set title = "Algawolf" %}
{% set description = "VCV Rack modules." %}

{% block body %}

  {% include "ascii-wolf.njk" %}

  <div class="text-center py-11 px-6">
    <h1>
      VCV Rack Modules
    </h1>
    <p class="text-gray-700 py-2 mx-auto text-sm tracking-wide3">Lean & Mean</p>
    {# <p class="text-gray-700 mt-2 m-auto text-sm tracking-wide3">Polyphonic IO & CV | Guided Randomness | Optimized</p> #}
  </div>

  <section class="my-2">
    <vcv-modules></vcv-modules>
  </section>
  
  <section class="section-spacing">
    {% include 'contact-cta.njk' %}
  </section>

{% endblock %}